.swagger-ui .topbar {
    background: #c80680;
    /* Old browsers */
    background: #c80680;
    /* Old browsers  */
    background: -moz-linear-gradient(left, #c80680 0%, #731472 41%);
    /* FF3.6+ */
    background: -webkit-linear-gradient(left, #c80680 0%, #731472 41%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #c80680 0%, #731472 41%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(left, #c80680 0%, #731472 41%);
    /* IE10+ */
    background: linear-gradient(to right, #c80680 0%, #731472 41%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$left', endColorstr='$right',GradientType=0 );
    /* IE6-9 */
}
